<!--Navbar-->
<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="/css/img/gigaphone_Logo.png" class="img-fluid" alt="">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="/admin/usuario/create">Crear Usuario</a></li>
                            
                            <li><a class="scrollTo" data-scrollTo="blog" href="/admin/producto">Productos</a></li>
                            <li><a class="scrollTo" data-scrollTo="services" href="/admin/categoria">Categorias</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="/catalogo">Catalogos</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>


<div class="wrap container bg-light" style="height:100vh">
    <div class="row justify-content-center aling-item-center">


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">-</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <th scope="row"></th>
                    <td>{{nombre}}</td>
                    <td>{{username}}</td>
                    <td>{{mail}}</td>
                    <td>{{telefono}}</td>
                    <td><a href="usuario/update/{{id}}"><button type="button" class="btn btn-info">Actualizar</button></a></td>
                    <td><a href="usuario/delete/{{id}}"><button type="button" class="btn btn-outline-danger">Borrar</button></a></td>
                </tr>
               {{/each}}
            </tbody>
        </table>
    </div>
</div>