<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="/css/img/gigaphone_Logo.png" class="img-fluid" alt="">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">

                            <li><a class="scrollTo" data-scrollTo="contact" href="/catalogo">Catalogo</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrap container bg-light" style="height:100vh">
                <div class="row justify-content-center aling-item-center">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">-</th>
                                <th scope="col">precio final</th>
                                <th scope="col">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each carrito}}
                            <tr>
                                <th scope="row"><img src="/images/{{nombreImagen}}" class="rounded" width="90"
                                        height="90"></th>
                                <td>{{nombre}}</td>
                                <td>{{descripcion}}</td>
                                <td>{{precio}}</td>
                                <td>{{marca}}</td>
                                <td>{{nombreCategoria}}</td>
                                <td></td>

                                <td><a href="/users/carrito/{{id}}"><button type="button" class="btn btn-outline-danger">Borrar</button></a>
                                </td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{precioFinal}}</td>
                                <td><a href="/users/carrito/compra" class="btn btn-info">Finalizar compra</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>