<!--Navbar-->
<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="/">Home</a></li>
                            <li><a href="/catalogo">Catalogo</a>
                            <li><a class="scrollTo" data-scrollTo="blog" href="#">Productos Destacados</a></li>
                            <li><a class="scrollTo" data-scrollTo="services" href="#">Nosotros</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="#">Contactanos</a></li>
                            <li><a href="/login">Iniciar Sesion</a></li>
                            <li><a href="/registro">Registrate</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>


<!--Imagen inicial y presentacion-->

<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>#GigaphoneExperience</h2>
                    <span>Encontra el equipo para vos</span>
                    <div class="blue-button">
                        <a class="scrollTo" data-scrollTo="contact" href="#">Contactanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Presentacion de 3 celulares aleatorios-->
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Productos</span>
                    <h2>Nuestros mejores productos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {{#each producto}}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="/images/{{uid}}" width="300" height="350" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>28</h6>
                            <span>August</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>{{nombre}}</h4>
                        <span>{{categoria}}</span>
                        <p>{{descripcion}}</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="/catalogo/buy/{{id_producto}}">Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="/catalogo/single/{{id_producto}}">Ver descripción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>


<!--Cualidades de gigaphone-->
<section class="our-services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Nuestro servicio</span>
                    <h2>Mejor tienda de productos tecnologicos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_1.png" alt="">
                    </div>
                    <h4>Transparencia</h4>
                    <p>Trabajamos con comunicacion y responsabilidad con el cliente.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_2.png" alt="">
                    </div>
                    <h4>Obtene tu producto en el dia</h4>
                    <p>Somos rapidos en la entrega, totalmente personalizada para cada caso </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_3.png" alt="">
                    </div>
                    <h4>Productos sellados</h4>
                    <p>Trabajamos unicamente con productos sellados y garantia de fabrica para tu seguridad.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Contacto de gigaphone-->


<section id="contact">

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-veno">
                        <div class="logo">
                            <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                        </div>
                        <p>Somos una empresa joven, que busca insertarse en el mercado con la posibilidad de vender
                            productos tecnologicos
                            a un precio accessible para todo el publico.
                        </p>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.instagram.com/gigaphone.gph/"><i class="fa fa-instagram"></i></a>
                                <a href="/"><i class="fa fa-twitter"></i></a>
                                <a href="/"><i class="fa fa-linkedin"></i></a>
                                <a href="/"><i class="fa fa-rss"></i></a>
                                <a href="/"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="useful-links">
                        <div class="footer-heading">
                            <h4>Más</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/registro"><i class="fa fa-stop"></i>Registrate</a></li>
                                    <li><a href="/login"><i class="fa fa-stop"></i>Login</a></li>

                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-info">
                        <div class="footer-heading">
                            <h4>Informacion</h4>
                        </div>
                        <p>Te dejamos nuestros datos de contacto, en caso de que quieras hablar con algun representante.</p>
                        <ul>
                            <li><span>Telefono:</span><a href="#">3513249117</a></li>
                            <li><span>Email:</span><a href="#">gigaphone@gmail.com</a></li>
                            <li><span>Direccion:</span><a href="#">Av. Gral. Paz 256, Cordoba.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <p>Copyright &copy; 2021 Gigaphone

            - Design: <a rel="nofollow" href="#">Santiago Ibarbia</a></p>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="css/js/vendor/bootstrap.min.js"></script>

<script src="css/js/datepicker.js"></script>
<script src="css/js/plugins.js"></script>
<script src="css/js/main.js"></script>